.table{
    padding-bottom: 160px;
    
    &__wrapper{
        padding: 0 25px 30px 100px;
        border: 1px solid rgba(52, 52, 52, 0.2);
    }
    
    &__head{
        width: 975px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
        
        &-heading{
            margin: 0;
            padding-top: 30px;
            padding-bottom: 30px;
            padding-left: 50px;
            padding-right: 50px;
            border: 1px solid rgba(52, 52, 52, 0.2);
            font-weight: 500;
            font-size: 16px;
            line-height: 127.5%;
            letter-spacing: 0.1em;
            color: #343434;    
        }
    }
    
    &__body{
        padding: 0;
        margin: 0;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
    }
    
    &__item{
        max-width: 1040px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    &__heading{
        position: relative;
        margin-right: 40px;
        max-width: 155px;
        font-weight: 500;
        font-size: 16px;
        line-height: 127.5%;
        letter-spacing: 0.1em;  
        color: #343434;  
        
        &::before{
            position: absolute;
            left: -24px;
            top: 5px;
            content: "";
            display: block;
            width: 9px;
            height: 9px;
            border-radius: 50%;
            background-color: #FF9619;
        }
    }
    
    &__text{
        width: 842px;
        font-weight: 300;
        font-size: 14px;
        line-height: 127.5%;
        letter-spacing: 0.1em;
        color: #343434;    
    }
    
    &__button{
        @include zero-btn();
        font-weight: 800;
        font-size: 18px;
        line-height: 150%;;
        text-align: center;
        text-transform: uppercase;
        padding: 15px 33px;
        background-color: #FF9619;
        margin-top: 25px;
        float: right;
        color: #FFFFFF;     
    }
    
    
}

@media only screen and(max-width:376px){
    .table{
        margin-bottom: 90px;

        &__wrapper{
            padding: 0;
            border: none;
        }
        
        &__body{
            display: none;
        }
        
        &__head{
            flex-direction: column;
            width: auto;
            align-items: stretch;
        }

        &__head-heading{
            border: none;
            padding: 0;
            height: 53px;
            background-color: #F2F3F5;
            text-align: center;
        }

        &__head-heading2{
            margin-top: 15px;
            margin-bottom: 15px;
        }
    }
}